.bg-about{
      background-color: #1abc9c;
      height: 83vh;
}
i::after{
      margin-left: 0.5rem;
}
i::before {
      margin-right: 0.5rem;
}
.line {
  height: 4px;
  width: 80px;
  background-color: white;
}
