<section
  class="bg-about w-100 d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="text-center text-white text-uppercase fs-1 fw-bolder p-2">
    About framework
  </h1>
  <div class="d-flex align-items-center justify-content-center mb-2">
    <span class="line bg-white me-3"></span>
    <i class="fa-solid fa-star text-white fs-5"></i>
    <span class="line bg-white ms-3"></span>
  </div>
  <div class="text-white container">
    <div class="row justify-content-center">
      <div class="col-md-5 px-4 mb-4 mb-md-0">
        <p class="">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-5 px-4">
        <p class="">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
