<footer class="bg-all-footer text-white text-center pt-4">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-4 p-3">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-4 p-3">
        <h3>AROUND THE WEB</h3>
        <ul class="list-unstyled d-flex justify-content-center p-2 fs-5">
          <li class="mx-2">
            <span
              class="d-inline-flex align-items-center justify-content-center rounded-circle border border-2 border-white"
            >
              <i class="fab fa-facebook-f"></i>
            </span>
          </li>
          <li class="mx-2">
            <span
              class="d-inline-flex align-items-center justify-content-center rounded-circle border border-2 border-white"
            >
              <i class="fab fa-twitter"></i>
            </span>
          </li>
          <li class="mx-2">
            <span
              class="d-inline-flex align-items-center justify-content-center rounded-circle border border-2 border-white"
            >
              <i class="fab fa-linkedin-in"></i>
            </span>
          </li>
          <li class="mx-2">
            <span
              class="d-inline-flex align-items-center justify-content-center rounded-circle border border-2 border-white"
            >
              <i class="fab fa-github"></i>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-4 p-3">
        <h3>ABOUT FREELANCER</h3>
        <p>
          Freelance is a free to use, MIT licensed Bootstrap theme created by
          Route.
        </p>
      </div>
    </div>
  </div>

  <div class="bg-footer py-4">
    <p class="mb-0">Copyright © Your Website 2021</p>
  </div>
</footer>
