<section
  class="bg-home w-100 d-flex flex-column justify-content-center align-items-center"
>
  <div class="home-image d-block mx-auto mb-4 ">
    <img src="/avataaars.svg" alt="" />
  </div>
  <h1 class="text-center text-white text-uppercase fs-1 fw-bolder p-2">
    start framework
  </h1>
  <div class="d-flex align-items-center justify-content-center mb-2">
    <span class="line bg-white me-3"></span>
    <i class="fa-solid fa-star text-white fs-5"></i>
    <span class="line bg-white ms-3"></span>
  </div>
  <p class="text-center text-white pt-2">
    Graphic Artist - Web Designer - Illustrator
  </p>
</section>
